.input-label {
  font-family: "Montserrat-Bold", serif;
  color: var(--secondary);
  white-space: nowrap;
  font-size: 14px;
}

.input-text {
  color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 6px;
  padding: 5px 10px;
  width: 100%;

  &:hover {
    border: 1px solid var(--primary);
  }

  &:focus {
    outline: 1px solid var(--primary);
    border: 1px solid var(--primary);
  }

  &.invalid {
    border: 1px solid var(--alert-color);
  }

  &.invalid:focus {
    outline: 1px solid var(--alert-color);
    border: 1px solid var(--alert-color);
  }
}

.validator-error {
  color: var(--alert-color);
  font-family: "Montserrat-Italic", serif;
  font-size: 15px;
  padding-top: 4px;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
