.logo-panel {
  display: flex;
  height: 100px;
}
.header-element-color {
  background-color: var(--primary);
}
.header-container {
  background-color: var(--primary);
  color: #bebebe;
  overflow: hidden;
  min-height: 70px;
}
