<app-loader [isLoading]="isLoading()"/>

<div class="login-container">
    <div class="login-card">
        <div class="login-card-header">
            <img class="appverk-logo" alt="AppVerk logo"
                 ngSrc="assets/appverk-logo.png" height="125" width="200" priority/>
        </div>
        <div class="login-card-body">
            <div class="title-section text-justify">
                <h5 class="section-body-card-title underline">LOGOWANIE</h5>
                <hr class="break-line-section"/>
            </div>
            <form [formGroup]="form" (ngSubmit)="login(form)">

                <app-input-form-field
                        id="email"
                        type="text"
                        placeholder="E-mail"
                        formControlName="email"
                        [errorMessage]="getErrorMessage('email')"/>

                <app-input-form-field
                        id="password"
                        type="password"
                        placeholder="Hasło"
                        formControlName="password"
                        [errorMessage]="getErrorMessage('password')"/>

                <div class="text-center login-button-container">
                    <button type="submit" class="btn btn-primary">ZALOGUJ</button>
                </div>
            </form>
        </div>
    </div>
</div>
