<div class="login-container">
    <div class="login-card">
        <div class="login-card-header">
            <img class="appverk-logo" alt="AppVerk logo"
                 ngSrc="assets/appverk-logo.png" height="125" width="200"/>
        </div>
        <div class="login-card-body">
            <div class="title-section text-justify">
                <h5 class="section-body-card-title underline">LOGOWANIE</h5>
                <hr class="break-line-section"/>
            </div>
            <form>
                <div class="input-filed-container w-100 px-4 py-3">
                    <label class="input-label px-1" for="login">
                        Login
                    </label>
                    <input id="login" name="login" type="text" required
                           class="input-text"/>
                </div>
                <div class="input-filed-container w-100 px-4 py-3">
                    <label class="input-label px-1" for="password">
                        Hasło
                    </label>
                    <input id="password" name="login" type="text" required
                           class="input-text"/>
                </div>
                <div class="text-center login-button-container">
                    <button type="button" class="btn btn-primary">ZALOGUJ</button>
                </div>
            </form>
        </div>
    </div>
</div>
